<div class="md-card">
    <form role="form" novalidate name="editForm">
        <md-content>
            <md-card>
                <col-md-12>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Editing</span>
                            <span class="md-subhead">{{vm.contact.first_name}} {{vm.contact.last_name}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </col-md-12>
                <div class="col-md-6">
                    <label>First Name </label>
                    <span>{{vm.contact.first_name}}</span>
                </div>
                <div class="col-md-6">
                    <label>Last Name</label>
                    <span> {{vm.contact.last_name}}</span>
                </div>
            </md-card>
        </md-content>
    </form>
</div>

